@import url('https://fonts.googleapis.com/css?family=Contrail+One');
body {
    background-color: #fefefe;
  }
  #clock {
    width: 600px;
    height:100px;
    background-color:black;
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:green;
    font-family: 'Times New Roman', Times, sans-seriff;
    font-size: 3em;
  }

  .navigation {
    display: none;
    &__link {
      color: #000000;
      display: block;
      margin-bottom: 16px;
      &:hover {
        color: rgb(45, 0, 207);
      }
      &--homepage {
        color: white;
      }
    }
  }
  .navigation__open {
    display: block;
    background-color: #ff5733;
    padding: 16px;
    border-radius: 8px;
  }
  header {
    min-height: 60px;
  }
  h2::before {
    content: "🙂 ";
    color: #d80b0b;
  }
  .main {
    margin: 10px auto 0;
  }
  .menu {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 100px;
    height: 60px;
  }
  .menu:hover {
    background-color: crimson;
  }
  
  .img {
    vertical-align: middle;
  }
  .paragraph {
    padding-top: 1%;
    padding-left: 2%;
    font-size: 1.4vw;
  }
  .parrentbox {
    width: 100vm;
    height: 50vh;
  }
  .box {
    display: inline-block;
    border-width: 1vw;
    border-style: groove;
    border-color: brown;
    border-radius: 8%;
    box-sizing: border-box;
  }
  .firstbox {
    background-color: rgb(81, 70, 145);
    color: rgb(0, 0, 0);
    &:hover {
      background-color: rgb(107, 216, 211);
      color: rgb(0, 0, 0);
    }
  }
  .secondbox {
    background-color: violet;
    color: yellow;
  }
  .thirdbox {
    background-color: rgb(243, 34, 215);
    color: rgb(0, 0, 0);
  }
  .fourthbox {
    background-color: rgb(33, 185, 231);
    color: rgb(255, 82, 1);
  }
  h1 {
    color: #d80b0b;
  }
  .list {
    list-style-type: disc;
  }
  .grid {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }

  .grid__item {
  }
  